<!doctype html>
<html lang="en-US">

<head>


	<% include ../includes/header%>
		<div class="content-overlay"></div>
		<main id="main" class="ms-container">
			<div class="ms-section__block">
				<div class="row">
					<div class="about__img col-md-5">
						<img src="dnemedia/wp-content/uploads/2018/03/photo-1509380836717-c4320ccf1a6f-1.jpg" alt="About">
					</div>
					<div class="about__info col-md-7">
						
						<h4 class="h4">
							<%=title%>
						</h4>
						


						<span class="about__role">Photographer</span>
						
							<p>
								<%=introduction%>
							</p>
							
					</div>

				</div>
			</div>
			<div class="ms-section__block">
				<hr><br>
				<div class="about__clients">
					<br>
					<h3 class="h3">Clients</h3>
					<br>
					<ul class="clients-list row">
						<li class="col-lg-2 col-md-2 col-sm-4 col-xs-4 col-4">
							<img src="dnemedia/wp-content/uploads/2018/03/c3-1-150x150.png" alt="" />
						</li>
						<li class="col-lg-2 col-md-2 col-sm-4 col-xs-4 col-4">
							<img src="dnemedia/wp-content/uploads/2018/03/c4-1-150x150.png" alt="" />
						</li>
						<li class="col-lg-2 col-md-2 col-sm-4 col-xs-4 col-4">
							<img src="dnemedia/wp-content/uploads/2018/03/c5-1-150x150.png" alt="" />
						</li>
						<li class="col-lg-2 col-md-2 col-sm-4 col-xs-4 col-4">
							<img src="dnemedia/wp-content/uploads/2018/03/c6-1-150x150.png" alt="" />
						</li>
						<li class="col-lg-2 col-md-2 col-sm-4 col-xs-4 col-4">
							<img src="dnemedia/wp-content/uploads/2018/03/c7-1-150x150.png" alt="" />
						</li>
						<li class="col-lg-2 col-md-2 col-sm-4 col-xs-4 col-4">
							<img src="dnemedia/wp-content/uploads/2018/03/c8-1-150x150.png" alt="" />
						</li>
						<li class="col-lg-2 col-md-2 col-sm-4 col-xs-4 col-4">
							<img src="dnemedia/wp-content/uploads/2018/03/c9-1-150x150.png" alt="" />
						</li>
						<li class="col-lg-2 col-md-2 col-sm-4 col-xs-4 col-4">
							<img src="dnemedia/wp-content/uploads/2018/03/c1-1-150x150.png" alt="" />
						</li>
						<li class="col-lg-2 col-md-2 col-sm-4 col-xs-4 col-4">
							<img src="dnemedia/wp-content/uploads/2018/03/c2-1-150x150.png" alt="" />
						</li>
					</ul>

				</div>
			</div>
		</main>
		</div>
		<!-- Footer -->
		<footer class="ms-footer">
			<div class="ms-footer__inner">
				<div class="copyright">Copyright &copy; 2018. Developed by MadSparrow</div>
				<ul class="socials">
					<li><a class="socicon-twitter" title="Twitter" target="_blank" href="https://twitter.com/"></a></li>
					<li><a class="socicon-dribbble" title="Dribbble" target="_blank" href="https://dribbble.com/"></a></li>
					<li><a class="socicon-facebook" title="Facebook" target="_blank" href="https://www.facebook.com/"></a></li>
					<li><a class="socicon-instagram" title="Instagram" target="_blank" href="https://www.instagram.com/"></a></li>
					<li><a class="behance" title="Behance" target="_blank" href="https://www.behance.net/"></a></li>
				</ul>
			</div>
		</footer>

		<%include ../includes/footer%>
			</body>

</html>