<!doctype html>
<html lang="en-US">

<head>
    <%- include(../includes/header)%>

        <div class="content-overlay"></div>
        <main id="main" class="ms-container">
            <div class="ms-section__block">

                <div class="row">
                    <div class="single-post__content col-lg-9 col-xs-12">
                        <div class="ms-blogpage-image">
                            <div class="ms-post__image" style="background-image: url(dnemedia/wp-content/uploads/2018/03/10b.jpg)"></div>
                        </div>
                        <header class="ms-post__header">
                            <h2 class="post-title">Cinematic New York</h2>
                            <ul class="single-post-desc">
                                <li class="post-details">
                                    <i class="material-icons">account_box</i>
                                    <span><a href="/dnemedia/author/madsparrow/" title="Posts by MadSparrow" rel="author">MadSparrow</a></span>
                                </li>
                                <li class="post-details">
                                    <i class="material-icons">date_range</i>
                                    <span>
                                        <a href="/dnemedia/2018/09/06/" data-type="page-transition">April 12, 2018</a>
                                    </span>
                                </li>
                                <li class="post-details post-cat">
                                    <i class="material-icons">folder</i>
                                    <span><a href="/dnemedia/category/history/" rel="category tag">History</a>,<a href="/dnemedia/category/inspiration/"
                                            rel="category tag">Inspiration</a></span>
                                </li>
                                <li class="post-details comments-counter">
                                    <i class="material-icons">speaker_notes</i>
                                    <span>
                                        <a href="#comments">
                                            2 </a>
                                    </span>
                                </li>
                            </ul>
                        </header>
                        <article id="post-326" class="post-326 post type-post status-publish format-standard has-post-thumbnail hentry category-history category-inspiration tag-observation tag-urban tag-walk">
                            <p>Credibly administrate team building process improvements via goal-oriented applications. Dramatically
                                recaptiualize collaborative convergence for intuitive portals. Globally monetize alternative
                                functionalities before maintainable materials. Quickly implement pandemic systems for goal-oriented
                                results. Dramatically negotiate premier potentialities vis-a-vis scalable benefits.</p>
                            <p>Compellingly administrate backward-compatible platforms vis-a-vis just in time networks. Conveniently
                                maintain enterprise-wide convergence after cross-media methods of empowerment. Rapidiously
                                foster team building intellectual capital vis-a-vis premium collaboration and idea-sharing.
                                <a href="#">Seamlessly</a> architect ethical channels rather than resource maximizing core
                                competencies. Monotonectally transform best-of-breed e-tailers for dynamic e-commerce.</p>
                            <blockquote>
                                <p>Assertively unleash dynamic human capital without front-end resources. Progressively empower
                                    goal-oriented outsourcing before pandemic interfaces.</p>
                            </blockquote>
                            <p>Enthusiastically expedite tactical relationships vis-a-vis user-centric catalysts for change.
                                Objectively network customized materials rather than diverse process improvements. Conveniently
                                predominate viral leadership after end-to-end synergy. Compellingly cultivate emerging partnerships
                                via covalent niche markets. Monotonectally reintermediate robust testing procedures with
                                alternative potentialities.</p>
                            <p>Phosfluorescently underwhelm timely best practices via interoperable architectures. Proactively
                                enable next-generation &#8220;outside the box&#8221; thinking for backend process improvements.
                                Seamlessly monetize worldwide niche markets vis-a-vis stand-alone <a href="#">quality</a>
                                vectors. Authoritatively coordinate scalable convergence without mission-critical methodologies.
                                Assertively conceptualize high-quality internal or &#8220;organic&#8221; sources with future-proof
                                technologies.</p>
                            <p>Rapidiously incubate standardized best practices via enterprise core competencies. Collaboratively
                                network fully researched bandwidth vis-a-vis adaptive methodologies. Phosfluorescently simplify
                                distinctive data and dynamic synergy. Rapidiously disseminate viral sources vis-a-vis interactive
                                innovation. Interactively simplify stand-alone convergence after enabled sources.</p>
                            <p>Rapidiously fashion efficient potentialities before out-of-the-box convergence. Conveniently
                                syndicate resource-leveling manufactured products after cross-unit information. Quickly restore
                                orthogonal platforms after end-to-end process improvements. Interactively restore state of
                                the art paradigms and client-centered e-markets. Interactively network state of the art total
                                linkage via maintainable deliverables.</p>
                            <p>Intrinsicly disseminate go forward manufactured products after low-risk high-yield data. Continually
                                actualize <a href="#">multifunctional</a> imperatives through strategic deliverables. Seamlessly
                                create sustainable technology and high standards in.</p>

                            <div class="single-post__tags">
                                <a href="/dnemedia/tag/observation/" rel="tag">observation</a><a href="/dnemedia/tag/urban/"
                                    rel="tag">urban</a><a href="/dnemedia/tag/walk/" rel="tag">walk</a> </div>
                            <div class="ms-single-post__nav">

                                <nav class="navigation post-navigation" role="navigation">
                                    <h2 class="screen-reader-text">Post navigation</h2>
                                    <div class="nav-links">
                                        <div class="nav-previous"><a href="/dnemedia/tokyo-desu/" rel="prev"><span class="meta-nav" aria-hidden="true">Prev</span>
                                                <span class="screen-reader-text">prev postPrevious page</span> <span class="post-title">Tōkyō
                                                    desu</span></a></div>
                                    </div>
                                </nav>
                            </div>
                            <div class="ms-post__share">
                                <h6 class="share-title h6">Share</h6>
                                <ul id="share" class="socials share-links"></ul>
                            </div>
                        </article>

                        <div id="comments" class="ms-comments-area">

                            <h5 class="ms-comments-title h5">2 comments</h5>

                            <ul class="ms-comment-list">
                                <li id="comment-45">
                                    <div class="comment byuser comment-author-madsparrow bypostauthor even thread-even depth-1">
                                        <ul class="ms-comment-body">
                                            <li class="ms-author vcard">
                                                <img alt='' src='https://secure.gravatar.com/avatar/fb2c8c426f74f97a7dd47c30eefd1053?s=64&#038;d=mm&#038;r=g' srcset='https://secure.gravatar.com/avatar/fb2c8c426f74f97a7dd47c30eefd1053?s=128&#038;d=mm&#038;r=g 2x'
                                                    class='avatar avatar-64 photo' height='64' width='64' />                                                <span
                                                    class="ms-author-name">MadSparrow</span>
                                                <time class="ms-comment-time" datetime="2018-04-10T12:31:28+00:00">April
                                                    10, 2018 at 12:31 pm</time>
                                            </li>
                                            <li class="ms-commentcontent">
                                                <p>This colour palette has navigated right into my heart.</p>
                                            </li>
                                            <li>
                                                <div class="ms-comment-reply">
                                                    <a rel='nofollow' class='comment-reply-link' href='/dnemedia/cinematic-new-york/?replytocom=45#respond' onclick='return addComment.moveForm( "comment-45", "45", "respond", "326" )'
                                                        aria-label='Reply to MadSparrow'>Reply</a>
                                                    </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <ul class="children">
                                        <li id="comment-46">
                                            <div class="comment byuser comment-author-madsparrow bypostauthor odd alt depth-2">
                                                <ul class="ms-comment-body">
                                                    <li class="ms-author vcard">
                                                        <img alt='' src='https://secure.gravatar.com/avatar/fb2c8c426f74f97a7dd47c30eefd1053?s=64&#038;d=mm&#038;r=g' srcset='https://secure.gravatar.com/avatar/fb2c8c426f74f97a7dd47c30eefd1053?s=128&#038;d=mm&#038;r=g 2x'
                                                            class='avatar avatar-64 photo' height='64' width='64' />                                                        <span
                                                            class="ms-author-name">MadSparrow</span>
                                                        <time class="ms-comment-time" datetime="2018-04-10T12:33:51+00:00">April
                                                            10, 2018 at 12:33 pm</time>
                                                    </li>
                                                    <li class="ms-commentcontent">
                                                        <p>Let me take a nap&#8230; great shot, anyway.</p>
                                                    </li>
                                                    <li>
                                                        <div class="ms-comment-reply">
                                                            <a rel='nofollow' class='comment-reply-link' href='/dnemedia/cinematic-new-york/?replytocom=46#respond' onclick='return addComment.moveForm( "comment-46", "46", "respond", "326" )'
                                                                aria-label='Reply to MadSparrow'>Reply</a>
                                                            </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li><!-- #comment-## -->
                                    </ul><!-- .children -->
                                </li><!-- #comment-## -->
                            </ul>



                            <div id="respond" class="comment-respond">
                                <h5 id="reply-title" class="ms-reply-title h5">Leave a Reply <a rel="nofollow" id="cancel-comment-reply-link"
                                        href="/dnemedia/cinematic-new-york/#respond" style="display:none;">Cancel Reply</a></h5>
                                <form action="/dnemedia/wp-comments-post.php" method="post" id="commentform" class="ms-comments"
                                    novalidate>
                                    <p class="comment-notes"><span id="email-notes">Your email address will not be published.</span>
                                        Required fields are marked <span class="required">*</span></p>
                                    <div class="form-group col-md-12"><textarea id="ms-comment" class="form-control col-md-12" name="comment" rows="4" required="required"
                                            placeholder="Comment *"></textarea></div>
                                    <div class="form-group col-md-4"><input id="ms-author" name="author" type="text" class="form-control" value="" required="required"
                                            placeholder="Name *" /></div>
                                    <div class="form-group col-md-4"><input id="ms-email" name="email" class="form-control"
                                            type="text" value="" required="required" placeholder="Email *" /></div>
                                    <div class="form-group col-md-4"><input id="ms-url" name="url" class="form-control" type="text"
                                            value="" placeholder="Website" /></div>
                                    <p class="form-submit"><button type="submit" id="submit" class="ms-button ms-button"
                                            data-title="Post Comment"><span>Post Comment</span></button> <input type='hidden'
                                            name='comment_post_ID' value='326' id='comment_post_ID' />
                                        <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                                    </p>
                                </form>
                            </div><!-- #respond -->


                        </div>
                    </div>
                    <div class="ms-right-sidebar col-lg-3 col-xs-12">
                        <aside id="search-2" class="widget_search">
                            <form role="search" method="get" id="searchform" class="searchform"
                                action="/dnemedia/">
                                <div class="ms-search-widget col-md-12">
                                    <input type="search" placeholder="Search..." value="" name="s" id="s" class="search-field" />
                                    <input type="submit" id="searchsubmit" class="search-submit" value="Search" />
                                </div>
                            </form>
                        </aside>
                        <aside id="recent-posts-3" class="widget_recent_entries">
                            <div class="col-md-12">
                                <h5>Recent Posts</h5>
                            </div>
                            <ul>
                                <li>
                                    <a href="/dnemedia/cinematic-new-york/">Cinematic New York</a>
                                    <span class="post-date">April 12, 2018</span>
                                </li>
                                <li>
                                    <a href="/dnemedia/tokyo-desu/">Tōkyō desu</a>
                                    <span class="post-date">April 11, 2018</span>
                                </li>
                                <li>
                                    <a href="/dnemedia/under-armour-bryce-harper/">Under Armour | Bryce Harper</a>
                                    <span class="post-date">April 10, 2018</span>
                                </li>
                                <li>
                                    <a href="/dnemedia/soldiers-of-somalia/">Soldiers of Somalia</a>
                                    <span class="post-date">April 9, 2018</span>
                                </li>
                                <li>
                                    <a href="/dnemedia/together-and-without/">Together and Without</a>
                                    <span class="post-date">April 8, 2018</span>
                                </li>
                            </ul>
                        </aside>
                        <aside id="archives-2" class="widget_archive">
                            <div class="col-md-12">
                                <h5>Archives</h5>
                            </div>
                            <ul>
                                <li><a href='/dnemedia/2018/04/'>April 2018</a></li>
                            </ul>
                        </aside>
                        <aside id="categories-2" class="widget_categories">
                            <div class="col-md-12">
                                <h5>Categories</h5>
                            </div>
                            <ul>
                                <li class="cat-item cat-item-27"><a href="/dnemedia/category/history/">History</a>
                                </li>
                                <li class="cat-item cat-item-29"><a href="/dnemedia/category/inspiration/">Inspiration</a>
                                </li>
                                <li class="cat-item cat-item-32"><a href="/dnemedia/category/lifestyle/">Lifestyle</a>
                                </li>
                                <li class="cat-item cat-item-55"><a href="/dnemedia/category/travel/">Travel</a>
                                </li>
                            </ul>
                        </aside>
                        <aside id="tag_cloud-1" class="widget_tag_cloud">
                            <div class="col-md-12">
                                <h5>Tags</h5>
                            </div>
                            <div class="tagcloud"><a href="/dnemedia/tag/alone/" class="tag-cloud-link tag-link-74 tag-link-position-1" style="font-size: 16.4pt;"
                                    aria-label="alone (2 items)">alone</a>
                                <a href="/dnemedia/tag/history/" class="tag-cloud-link tag-link-111 tag-link-position-2" style="font-size: 8pt;" aria-label="history (1 item)">history</a>
                                <a href="/dnemedia/tag/home/" class="tag-cloud-link tag-link-112 tag-link-position-3" style="font-size: 8pt;" aria-label="home (1 item)">home</a>
                                <a href="/dnemedia/tag/inspiration/" class="tag-cloud-link tag-link-117 tag-link-position-4" style="font-size: 8pt;" aria-label="inspiration (1 item)">inspiration</a>
                                <a href="/dnemedia/tag/life/" class="tag-cloud-link tag-link-122 tag-link-position-5" style="font-size: 8pt;" aria-label="life (1 item)">life</a>
                                <a href="/dnemedia/tag/observation/" class="tag-cloud-link tag-link-137 tag-link-position-6" style="font-size: 8pt;" aria-label="observation (1 item)">observation</a>
                                <a href="/dnemedia/tag/people/" class="tag-cloud-link tag-link-142 tag-link-position-7" style="font-size: 8pt;" aria-label="people (1 item)">people</a>
                                <a href="/dnemedia/tag/power/" class="tag-cloud-link tag-link-149 tag-link-position-8" style="font-size: 8pt;" aria-label="power (1 item)">power</a>
                                <a href="/dnemedia/tag/reasoning/" class="tag-cloud-link tag-link-160 tag-link-position-9" style="font-size: 8pt;" aria-label="reasoning (1 item)">reasoning</a>
                                <a href="/dnemedia/tag/sings/" class="tag-cloud-link tag-link-164 tag-link-position-10" style="font-size: 8pt;" aria-label="sings (1 item)">sings</a>
                                <a href="/dnemedia/tag/sport/" class="tag-cloud-link tag-link-165 tag-link-position-11" style="font-size: 8pt;" aria-label="sport (1 item)">sport</a>
                                <a href="/dnemedia/tag/thoughts/" class="tag-cloud-link tag-link-185 tag-link-position-12" style="font-size: 8pt;" aria-label="thoughts (1 item)">thoughts</a>
                                <a href="/dnemedia/tag/urban/" class="tag-cloud-link tag-link-193 tag-link-position-13" style="font-size: 8pt;" aria-label="urban (1 item)">urban</a>
                                <a href="/dnemedia/tag/walk/" class="tag-cloud-link tag-link-196 tag-link-position-14" style="font-size: 22pt;" aria-label="walk (3 items)">walk</a></div>
                        </aside>
                    </div>
                </div>
            </div>
        </main>
        </div>
        <!-- Footer -->
        <footer class="ms-footer">
            <div class="ms-footer__inner">
                <div class="copyright">Copyright &copy; 2018. Developed by MadSparrow</div>
                <ul class="socials">
                    <li><a class="socicon-twitter" title="Twitter" target="_blank" href="https://twitter.com/"></a></li>
                    <li><a class="socicon-dribbble" title="Dribbble" target="_blank" href="https://dribbble.com/"></a></li>
                    <li><a class="socicon-facebook" title="Facebook" target="_blank" href="https://www.facebook.com/"></a></li>
                    <li><a class="socicon-instagram" title="Instagram" target="_blank" href="https://www.instagram.com/"></a></li>
                    <li><a class="behance" title="Behance" target="_blank" href="https://www.behance.net/"></a></li>
                </ul>
            </div>
        </footer>
        <%- include('../includes/footer')%>
            </body>

</html>