<!doctype html>
<html lang="en-US">

<head>
    <% include ../includes/header%>

    <div class="content-overlay"></div>
    <main id="main" class="ms-container">
        <div class="ms-section__block">
            <header class="ms-page-title">
                <h2 class="page-header h2">Contact</h2>
                <div class="page-desc-block"><span class="page-desc">Conveniently fashion global intellectual capital
                        whereas front-end strategic theme areas.</span></div>
            </header>
        </div>
        <div class="ms-section__block contact-block">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="ms-contact-data col-md-6">
                            <h6 class="h6">the office</h6>
                            <address>25 Parker St. London WC2B 5PJ UK</address>
                        </div>
                        <div class="ms-contact-data col-md-6">
                            <h6 class="h6">telephone</h6>
                            <p>+777 856 963</p>
                        </div>
                        <div class="ms-contact-data col-md-6">
                            <h6 class="h6">email</h6>
                            <p>test@mail.com</p>
                        </div>

                        <div class="ms-contact-data col-md-6">
                            <h6 class="h6">socials</h6>
                            <ul class="socials">
                                <li><a class="socicon-twitter" title="Twitter" target="_blank" href="https://twitter.com/"></a></li>
                                <li><a class="socicon-dribbble" title="Dribbble" target="_blank" href="https://dribbble.com/"></a></li>
                                <li><a class="socicon-facebook" title="Facebook" target="_blank" href="https://www.facebook.com/"></a></li>
                                <li><a class="socicon-instagram" title="Instagram" target="_blank" href="https://www.instagram.com/"></a></li>
                                <li><a class="behance" title="Behance" target="_blank" href="https://www.behance.net/"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 ms-contact__form-area">
                    <h6 class="h6">Get in touch</h6>
                    <div role="form" class="wpcf7" id="wpcf7-f255-p76-o1" lang="en-US" dir="ltr">
                        <div class="screen-reader-response"></div>
                        <form action="/emilynolan/contact/#wpcf7-f255-p76-o1" method="post" class="ms-contact-form"
                            novalidate="novalidate">
                            <div style="display: none;">
                                <input type="hidden" name="_wpcf7" value="255" />
                                <input type="hidden" name="_wpcf7_version" value="5.0.4" />
                                <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f255-p76-o1" />
                                <input type="hidden" name="_wpcf7_container_post" value="76" />
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name"
                                            value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control"
                                            aria-required="true" aria-invalid="false" placeholder="Your name" /></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email"
                                            value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control"
                                            aria-required="true" aria-invalid="false" placeholder="Email address" /></span>
                                </div>
                                <div class="form-group col-md-12">
                                    <span class="wpcf7-form-control-wrap your-subject"><input type="text" name="your-subject"
                                            value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control"
                                            aria-required="true" aria-invalid="false" placeholder="Subject" /></span>
                                </div>
                                <div class="form-group col-md-12">
                                    <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message"
                                            cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required form-control"
                                            id="message" aria-required="true" aria-invalid="false" placeholder="Your message"></textarea></span>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="ms-button" data-title="send">Send<br />
                                        <input type="submit" value="send" class="wpcf7-form-control wpcf7-submit" />
                                    </div>
                                </div>
                            </div>
                            <div class="wpcf7-response-output wpcf7-display-none"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    </div>
    <!-- Footer -->
    <footer class="ms-footer">
        <div class="ms-footer__inner">
            <div class="copyright">Copyright &copy; 2018. Developed by MadSparrow</div>
            <ul class="socials">
                <li><a class="socicon-twitter" title="Twitter" target="_blank" href="https://twitter.com/"></a></li>
                <li><a class="socicon-dribbble" title="Dribbble" target="_blank" href="https://dribbble.com/"></a></li>
                <li><a class="socicon-facebook" title="Facebook" target="_blank" href="https://www.facebook.com/"></a></li>
                <li><a class="socicon-instagram" title="Instagram" target="_blank" href="https://www.instagram.com/"></a></li>
                <li><a class="behance" title="Behance" target="_blank" href="https://www.behance.net/"></a></li>
            </ul>
        </div>
    </footer>
    <% include ../includes/footer%>
    </body>

</html>