<!doctype html>
<html lang="en-US">

<head>
    <%- include(../includes/header)%>

        <div class="content-overlay"></div>
        <main id="main" class="ms-container">
            <div class="ms-section__block">
                <header class="ms-page-title">
                    <h2 class="page-header h2">Go explore</h2>
                    <div class="page-desc-block">
                        <span class="page-desc">Credibly grow an expanded array of synergy rather than principle-centered
                            niches.</span>
                    </div>
                </header>
            </div>

            <div class="ms-section__block">
                <p>Authoritatively optimize open-source architectures before competitive innovation. Dramatically facilitate
                    long-term high-impact processes via low-risk high-yield interfaces. Energistically syndicate stand-alone
                    methodologies after leveraged core
                    <a href="#">competencies</a>.</p>
            </div>

            <div class="ms-section__block">
                <div id="gallery">
                    <img alt="Interactively restore backward-compatible strategic theme areas after one-to-one web-readiness." src="emilynolan/wp-content/uploads/2018/03/13b.jpg"
                        data-image="emilynolan/wp-content/uploads/2018/03/photo-1519163929887-93a63ded90ec-1.jpg" data-description="">
                    <img alt="Monotonectally re-engineer cross-media potentialities after just in time systems." src="emilynolan/wp-content/uploads/2018/03/photo-1516714819001-8ee7a13b71d7-1.jpg"
                        data-image="emilynolan/wp-content/uploads/2018/03/photo-1516714819001-8ee7a13b71d7-1.jpg" data-description="">
                    <img alt="Interactively expedite long-term high-impact leadership skills and enterprise platforms." src="emilynolan/wp-content/uploads/2018/03/DSC_0706-2.jpg"
                        data-image="emilynolan/wp-content/uploads/2018/03/photo-1518065336951-d16c043900d6-1.jpg" data-description="">
                    <img alt="Rapidiously evolve progressive action items whereas seamless process improvements." src="emilynolan/wp-content/uploads/2018/03/photo-1515285768613-9efbec9fe26b-1.jpg"
                        data-image="emilynolan/wp-content/uploads/2018/03/photo-1515285768613-9efbec9fe26b-1.jpg" data-description="">
                    <img alt="Competently pursue extensible products rather than dynamic testing procedures." src="emilynolan/wp-content/uploads/2018/03/photo-1516703914899-e8303d01329a-1.jpg"
                        data-image="emilynolan/wp-content/uploads/2018/03/photo-1516703914899-e8303d01329a-1.jpg" data-description="">
                    <img alt="Competently maximize web-enabled core competencies before backend sources." src="emilynolan/wp-content/uploads/2018/03/photo-1515224526905-51c7d77c7bb8-1.jpg"
                        data-image="emilynolan/wp-content/uploads/2018/03/photo-1515224526905-51c7d77c7bb8-1.jpg" data-description="">
                    <img alt="photo-1515068804703-1c48477e4dfd" src="emilynolan/wp-content/uploads/2018/03/photo-1515068804703-1c48477e4dfd.jpg"
                        data-image="emilynolan/wp-content/uploads/2018/03/photo-1515068804703-1c48477e4dfd.jpg" data-description="">
                    <img alt="Interactively expedite long-term high-impact leadership skills and enterprise platforms." src="emilynolan/wp-content/uploads/2018/03/DSC_0706-2.jpg"
                        data-image="emilynolan/wp-content/uploads/2018/03/photo-1518065336951-d16c043900d6-1.jpg" data-description="">
                    <img alt="photo-1513738260158-30e559c10093" src="emilynolan/wp-content/uploads/2018/03/photo-1513738260158-30e559c10093.jpg"
                        data-image="emilynolan/wp-content/uploads/2018/03/photo-1513738260158-30e559c10093.jpg" data-description="">
                    <img alt="Rapidiously evolve progressive action items whereas seamless process improvements." src="emilynolan/wp-content/uploads/2018/03/photo-1505707697239-8e8fe6214967-1.jpg"
                        data-image="emilynolan/wp-content/uploads/2018/03/photo-1505707697239-8e8fe6214967-1.jpg" data-description="">
                </div>
            </div>
            <div class="ms-section__block-small">
                <div class="ms-single-album__nav">

                    <nav class="navigation post-navigation" role="navigation">
                        <h2 class="screen-reader-text">Post navigation</h2>
                        <div class="nav-links">
                            <div class="nav-previous">
                                <a href="/emilynolan/albums/minimalism-life/" rel="prev">
                                    <i class="material-icons">keyboard_arrow_left</i>
                                    <span class="screen-reader-text">prev postPrevious page</span>
                                </a>
                            </div>
                        </div>
                    </nav>
                    <a href="/emilynolan/portfolio/" class="go_to_albums" data-type="page-transition">
                        <i class="material-icons">dashboard</i>
                    </a>
                </div>
            </div>
        </main>
        </div>
        <!-- Footer -->
        <footer class="ms-footer">
            <div class="ms-footer__inner">
                <div class="copyright">Copyright &copy; 2018. Developed by MadSparrow</div>
                <ul class="socials">
                    <li>
                        <a class="socicon-twitter" title="Twitter" target="_blank" href="https://twitter.com/"></a>
                    </li>
                    <li>
                        <a class="socicon-dribbble" title="Dribbble" target="_blank" href="https://dribbble.com/"></a>
                    </li>
                    <li>
                        <a class="socicon-facebook" title="Facebook" target="_blank" href="https://www.facebook.com/"></a>
                    </li>
                    <li>
                        <a class="socicon-instagram" title="Instagram" target="_blank" href="https://www.instagram.com/"></a>
                    </li>
                    <li>
                        <a class="behance" title="Behance" target="_blank" href="https://www.behance.net/"></a>
                    </li>
                </ul>
            </div>
        </footer>
        <%- include('../includes/footer')%>
            </body>

</html>