<!doctype html>
<html lang="en-US">

<head>
    <%- include(../includes/header)%>

        <div class="content-overlay"></div>
        <main id="main" class="ms-container">
            <div class="ms-section__block">
                <header class="ms-page-title">
                    <h2 class="page-header h2">Wide eyes</h2>
                    <div class="page-desc-block"><span class="page-desc">Simple description</span></div>
                </header>
            </div>

            <div class="ms-section__block">
                <p style="text-align: left;">Nulla sed mi leo, sit amet molestie nulla. Phasellus lobortis blandit ipsum,
                    at adipiscing eros porta quis. Phasellus in nisi ipsum, quis dapibus magna.  Phasellus odio dolor, pretium
                    sit amet aliquam a, gravida eget dui. Pellentesque eu ipsum et quam faucibus scelerisque vitae ut ligula.
                    Ut luctus fermentum commodo. Mauris eget justo turpis, eget fringilla mi. Duis lobortis cursus mi vel
                    tristique. Maecenas eu lorem hendrerit neque dapibus cursus id sit amet nisi. Proin rhoncus semper sem
                    nec aliquet.</p>
                <p>&nbsp;</p>
            </div>

            <div class="ms-section__block">
                <div id="gallery">
                    <img alt="photo-1517400746-eb27afe9abc8" src="dnemedia/wp-content/uploads/2018/03/photo-1517400746-eb27afe9abc8-1.jpg"
                        data-image="dnemedia/wp-content/uploads/2018/03/photo-1517400746-eb27afe9abc8-1.jpg" data-description="">
                    <img alt="photo-1515068804703-1c48477e4dfd" src="dnemedia/wp-content/uploads/2018/03/photo-1515068804703-1c48477e4dfd.jpg"
                        data-image="dnemedia/wp-content/uploads/2018/03/photo-1515068804703-1c48477e4dfd.jpg" data-description="">
                    <img alt="photo-1513738260158-30e559c10093" src="dnemedia/wp-content/uploads/2018/03/photo-1513738260158-30e559c10093.jpg"
                        data-image="dnemedia/wp-content/uploads/2018/03/photo-1513738260158-30e559c10093.jpg" data-description="">
                    <img alt="2-1" src="dnemedia/wp-content/uploads/2018/02/2-1.jpg" data-image="dnemedia/wp-content/uploads/2018/02/2-1.jpg"
                        data-description="">
                    <img alt="Rapidiously brand professional networks via empowered interfaces." src="dnemedia/wp-content/uploads/2018/03/photo-1473115209096-e0375dd6b3b3-1.jpg"
                        data-image="dnemedia/wp-content/uploads/2018/03/photo-1473115209096-e0375dd6b3b3-1.jpg" data-description="">
                    <img alt="Authoritatively conceptualize transparent core competencies before cross-platform ROI." src="dnemedia/wp-content/uploads/2018/03/photo-1509380836717-c4320ccf1a6f-1.jpg"
                        data-image="dnemedia/wp-content/uploads/2018/03/photo-1509380836717-c4320ccf1a6f-1.jpg" data-description="">
                    <img alt="Credibly evolve end-to-end human capital rather than future-proof experiences." src="dnemedia/wp-content/uploads/2018/03/photo-1507237081139-5dfb209dba79-1.jpg"
                        data-image="dnemedia/wp-content/uploads/2018/03/photo-1507237081139-5dfb209dba79-1.jpg" data-description="">
                    <img alt="Monotonectally disintermediate world-class resources vis-a-vis viral synergy." src="dnemedia/wp-content/uploads/2018/03/photo-1504893524553-b855bce32c67-1.jpg"
                        data-image="dnemedia/wp-content/uploads/2018/03/photo-1504893524553-b855bce32c67-1.jpg" data-description="">
                    <img alt="Holisticly engineer team driven paradigms through multimedia based methodologies." src="dnemedia/wp-content/uploads/2018/03/photo-1504811060900-0d77dc63a136-1.jpg"
                        data-image="dnemedia/wp-content/uploads/2018/03/photo-1504811060900-0d77dc63a136-1.jpg" data-description="">
                </div>
            </div>
            <div class="ms-section__block-small">
                <div class="ms-single-album__nav">

                    <nav class="navigation post-navigation" role="navigation">
                        <h2 class="screen-reader-text">Post navigation</h2>
                        <div class="nav-links">
                            <div class="nav-next"><a href="/dnemedia/albums/romantic-chipping/" rel="next"><i class="material-icons">keyboard_arrow_right</i><span
                                        class="screen-reader-text">next postNext page</span> </a></div>
                        </div>
                    </nav> <a href="/dnemedia/portfolio/" class="go_to_albums" data-type="page-transition">
                        <i class="material-icons">dashboard</i>
                    </a>
                </div>
            </div>
        </main>
        </div>
        <!-- Footer -->
        <footer class="ms-footer">
            <div class="ms-footer__inner">
                <div class="copyright">Copyright &copy; 2018. Developed by MadSparrow</div>
                <ul class="socials">
                    <li><a class="socicon-twitter" title="Twitter" target="_blank" href="https://twitter.com/"></a></li>
                    <li><a class="socicon-dribbble" title="Dribbble" target="_blank" href="https://dribbble.com/"></a></li>
                    <li><a class="socicon-facebook" title="Facebook" target="_blank" href="https://www.facebook.com/"></a></li>
                    <li><a class="socicon-instagram" title="Instagram" target="_blank" href="https://www.instagram.com/"></a></li>
                    <li><a class="behance" title="Behance" target="_blank" href="https://www.behance.net/"></a></li>
                </ul>
            </div>
        </footer>

        <%- include('../includes/footer')%>
            </body>

</html>