<!doctype html>
<html lang="en-US">

<head>
    <%- include(../includes/header)%>

        <div class="content-overlay"></div>
        <main id="main" class="ms-container">
            <div class="ms-section__block">
                <header class="ms-page-title">
                    <h2 class="page-header h2">Portfolio</h2>
                    <div class="page-desc-block"><span class="page-desc">Conveniently fashion global intellectual capital
                            whereas front-end strategic theme areas.</span></div>
                </header>
            </div>
            <div class="ms-section__block">
                <ul class="filtr-btn">
                    <li data-filter="*" class="active">
                        <h6 class="h6">all</h6>
                    </li>
                    <li data-filter=".creative">
                        <h6 class="h6">Creative</h6>
                    </li>
                    <li data-filter=".portraits">
                        <h6 class="h6">Portraits</h6>
                    </li>
                    <li data-filter=".sport">
                        <h6 class="h6">Sport</h6>
                    </li>
                    <li data-filter=".urban">
                        <h6 class="h6">Urban</h6>
                    </li>
                </ul>
                <div class="ms-ajax-content row">
                    <div class="grid-sizer"></div>

                    <div class="album-item ms-grid-item col-lg-4 col-md-6 creative  post-383 albums type-albums status-publish hentry albums_categories-creative">
                        <a href="/dnemedia/albums/go-explore/" data-type="page-transition">
                            <div class="album-item__overlay">
                                <span class="album-item__cover"></span>
                                <h5 class="h5">Go explore</h5>
                            </div>
                            <div class="album-item__img" style="background-image: url(dnemedia/wp-content/uploads/2018/03/photo-1508541228984-ffd19318caa5-1.jpg)"></div>
                        </a>
                    </div>


                    <div class="album-item ms-grid-item col-lg-4 col-md-6 creative  post-302 albums type-albums status-publish hentry albums_categories-creative">
                        <a href="/dnemedia/albums/minimalism-life/" data-type="page-transition">
                            <div class="album-item__overlay">
                                <span class="album-item__cover"></span>
                                <h5 class="h5">Minimalism Life</h5>
                            </div>
                            <div class="album-item__img" style="background-image: url(dnemedia/wp-content/uploads/2018/03/photo-1474925558543-e7a5f06e733e-1.jpg)"></div>
                        </a>
                    </div>


                    <div class="album-item ms-grid-item col-lg-4 col-md-6 urban  post-299 albums type-albums status-publish hentry albums_categories-urban">
                        <a href="/dnemedia/albums/lonely-planet/" data-type="page-transition">
                            <div class="album-item__overlay">
                                <span class="album-item__cover"></span>
                                <h5 class="h5">Lonely Planet</h5>
                            </div>
                            <div class="album-item__img" style="background-image: url(dnemedia/wp-content/uploads/2018/03/photo-1505707697239-8e8fe6214967-1.jpg)"></div>
                        </a>
                    </div>


                    <div class="album-item ms-grid-item col-lg-4 col-md-6 urban  post-291 albums type-albums status-publish hentry albums_categories-urban">
                        <a href="/dnemedia/albums/vanguard-world/" data-type="page-transition">
                            <div class="album-item__overlay">
                                <span class="album-item__cover"></span>
                                <h5 class="h5">Vanguard World</h5>
                            </div>
                            <div class="album-item__img" style="background-image: url(dnemedia/wp-content/uploads/2018/03/photo-1504816162793-0d49d4a50608-1.jpg)"></div>
                        </a>
                    </div>


                    <div class="album-item ms-grid-item col-lg-4 col-md-6 creative  post-280 albums type-albums status-publish hentry albums_categories-creative">
                        <a href="/dnemedia/albums/collection-29/" data-type="page-transition">
                            <div class="album-item__overlay">
                                <span class="album-item__cover"></span>
                                <h5 class="h5">Collection #29</h5>
                            </div>
                            <div class="album-item__img" style="background-image: url(dnemedia/wp-content/uploads/2018/03/photo-1473115209096-e0375dd6b3b3-1.jpg)"></div>
                        </a>
                    </div>


                    <div class="album-item ms-grid-item col-lg-4 col-md-6 creative  post-239 albums type-albums status-publish hentry albums_categories-creative">
                        <a href="/dnemedia/albums/golden-hour/" data-type="page-transition">
                            <div class="album-item__overlay">
                                <span class="album-item__cover"></span>
                                <h5 class="h5">Golden hour</h5>
                            </div>
                            <div class="album-item__img" style="background-image: url(dnemedia/wp-content/uploads/2018/03/photo-1447014421976-7fec21d26d86.jpg)"></div>
                        </a>
                    </div>


                    <div class="album-item ms-grid-item col-lg-4 col-md-6 portraits  post-230 albums type-albums status-publish hentry albums_categories-portraits">
                        <a href="/dnemedia/albums/look-at-me/" data-type="page-transition">
                            <div class="album-item__overlay">
                                <span class="album-item__cover"></span>
                                <h5 class="h5">Look at me</h5>
                            </div>
                            <div class="album-item__img" style="background-image: url(dnemedia/wp-content/uploads/2018/03/nicholas-green-378149.jpg)"></div>
                        </a>
                    </div>


                    <div class="album-item ms-grid-item col-lg-4 col-md-6 creative  post-222 albums type-albums status-publish hentry albums_categories-creative">
                        <a href="/dnemedia/albums/what-the-fog/" data-type="page-transition">
                            <div class="album-item__overlay">
                                <span class="album-item__cover"></span>
                                <h5 class="h5">What the fog?</h5>
                            </div>
                            <div class="album-item__img" style="background-image: url(dnemedia/wp-content/uploads/2018/02/elti-meshau-208526-1.jpg)"></div>
                        </a>
                    </div>


                    <div class="album-item ms-grid-item col-lg-4 col-md-6 sport  post-213 albums type-albums status-publish hentry albums_categories-sport">
                        <a href="/dnemedia/albums/the-drive-of-your-life/" data-type="page-transition">
                            <div class="album-item__overlay">
                                <span class="album-item__cover"></span>
                                <h5 class="h5">The drive of your life</h5>
                            </div>
                            <div class="album-item__img" style="background-image: url(dnemedia/wp-content/uploads/2018/02/2-1.jpg)"></div>
                        </a>
                    </div>

                </div>
                <div class="col-lg-12 ms-pagination">
                    <a class="ms-button ms-load-more" data-title="load more"><span class="label-button">load more</span></a>
                </div>
            </div>

        </main>
        </div>
        <!-- Footer -->
        <footer class="ms-footer">
            <div class="ms-footer__inner">
                <div class="copyright">Copyright &copy; 2018. Developed by MadSparrow</div>
                <ul class="socials">
                    <li><a class="socicon-twitter" title="Twitter" target="_blank" href="https://twitter.com/"></a></li>
                    <li><a class="socicon-dribbble" title="Dribbble" target="_blank" href="https://dribbble.com/"></a></li>
                    <li><a class="socicon-facebook" title="Facebook" target="_blank" href="https://www.facebook.com/"></a></li>
                    <li><a class="socicon-instagram" title="Instagram" target="_blank" href="https://www.instagram.com/"></a></li>
                    <li><a class="behance" title="Behance" target="_blank" href="https://www.behance.net/"></a></li>
                </ul>
            </div>
        </footer>
        <%- include('../includes/footer')%>
            </body>

</html>