<!doctype html>
<html lang="en-US">

<head>
    <%- include(../includes/header)%>

        <div class="content-overlay"></div>
        <main id="main" class="ms-container">
            <div class="ms-section__block">

                <div class="row">
                    <div class="single-post__content col-lg-9 col-xs-12">
                        <div class="ms-blogpage-image">
                            <div class="ms-post__image" style="background-image: url(https://theme.madsparrow.me/emilynolan/wp-content/uploads/2018/03/photo-1517400746-eb27afe9abc8-2.jpg)"></div>
                        </div>
                        <header class="ms-post__header">
                            <h2 class="post-title">Oldness</h2>
                            <ul class="single-post-desc">
                                <li class="post-details">
                                    <i class="material-icons">account_box</i>
                                    <span><a href="https://theme.madsparrow.me/emilynolan/author/madsparrow/" title="Posts by MadSparrow"
                                            rel="author">MadSparrow</a></span>
                                </li>
                                <li class="post-details">
                                    <i class="material-icons">date_range</i>
                                    <span>
                                        <a href="https://theme.madsparrow.me/emilynolan/2018/09/23/" data-type="page-transition">April
                                            5, 2018</a>
                                    </span>
                                </li>
                                <li class="post-details post-cat">
                                    <i class="material-icons">folder</i>
                                    <span><a href="https://theme.madsparrow.me/emilynolan/category/history/" rel="category tag">History</a></span>
                                </li>
                                <li class="post-details comments-counter">
                                    <i class="material-icons">speaker_notes</i>
                                    <span>
                                        <a href="#comments">
                                            0 </a>
                                    </span>
                                </li>
                            </ul>
                        </header>
                        <article id="post-312" class="post-312 post type-post status-publish format-standard has-post-thumbnail hentry category-history tag-alone tag-walk">
                            <p>Continually simplify market-driven infrastructures whereas innovative manufactured products.
                                Competently negotiate state of the art functionalities vis-a-vis quality resources. Distinctively
                                initiate 24/365 process improvements via global <a href="#">ideas</a>. Proactively fabricate
                                B2C content with 24/365 platforms. Interactively impact standards compliant expertise after
                                fully researched collaboration and idea-sharing. Professionally enhance alternative alignments
                                vis-a-vis frictionless data. Dynamically synthesize innovative leadership with inexpensive
                                innovation. Seamlessly.</p>
                            <p>Phosfluorescently utilize intuitive technology for team building users. Collaboratively initiate
                                client-focused manufactured products rather than cross-media experiences. Conveniently whiteboard
                                empowered leadership through goal-oriented strategic theme areas. Completely negotiate web-enabled
                                markets without user friendly ROI. Completely network proactive niche markets before unique
                                process improvements.</p>
                            <p>Uniquely synergize professional information without installed base manufactured products.
                                Seamlessly syndicate clicks-and-mortar e-markets rather than plug-and-play ideas. Holisticly
                                syndicate adaptive communities rather than high standards in best practices. Energistically
                                enable magnetic products for user friendly intellectual capital. Holisticly predominate functional
                                process improvements rather than cross functional meta-services.</p>
                            <p><iframe src="https://player.vimeo.com/video/97149889?app_id=122963" width="1275" height="717"
                                    frameborder="0" title="Goodness Newness Oldness Badness" webkitallowfullscreen mozallowfullscreen
                                    allowfullscreen></iframe>
                                <script src="https://player.vimeo.com/api/player.js"></script>
                            </p>
                            <blockquote>
                                <p>Competently enhance user-centric products after frictionless innovation. Proactively iterate
                                    resource sucking schemas for business total linkage.</p>
                            </blockquote>
                            <p>Completely exploit B2B convergence through web-enabled ROI. Authoritatively unleash end-to-end
                                alignments through sustainable content. Objectively drive alternative ROI after high-quality
                                imperatives. Proactively <a href="#">deliver</a> prospective outsourcing with an expanded
                                array of process improvements. Proactively evisculate turnkey opportunities and accurate
                                process improvements.</p>
                            <p>Phosfluorescently expedite compelling bandwidth for parallel opportunities. Seamlessly customize
                                transparent processes with installed base relationships. Monotonectally whiteboard cost effective
                                e-commerce without high-quality experiences. Rapidiously leverage other&#8217;s economically
                                sound testing procedures with economically sound mindshare. Efficiently aggregate interdependent
                                testing procedures vis-a-vis robust internal or &#8220;organic&#8221; sources.</p>

                            <div class="single-post__tags">
                                <a href="https://theme.madsparrow.me/emilynolan/tag/alone/" rel="tag">alone</a><a href="https://theme.madsparrow.me/emilynolan/tag/walk/"
                                    rel="tag">walk</a> </div>
                            <div class="ms-single-post__nav">

                                <nav class="navigation post-navigation" role="navigation">
                                    <h2 class="screen-reader-text">Post navigation</h2>
                                    <div class="nav-links">
                                        <div class="nav-next"><a href="https://theme.madsparrow.me/emilynolan/sings/" rel="next"><span class="meta-nav"
                                                    aria-hidden="true">Next</span> <span class="post-title">Sings</span><span
                                                    class="screen-reader-text">next postNext page</span> </a></div>
                                    </div>
                                </nav>
                            </div>
                            <div class="ms-post__share">
                                <h6 class="share-title h6">Share</h6>
                                <ul id="share" class="socials share-links"></ul>
                            </div>
                        </article>

                        <div id="comments" class="ms-comments-area">



                            <div id="respond" class="comment-respond">
                                <h5 id="reply-title" class="ms-reply-title h5">Leave a Reply <a rel="nofollow" id="cancel-comment-reply-link"
                                        href="/emilynolan/oldness/#respond" style="display:none;">Cancel Reply</a></h5>
                                <form
                                    action="https://theme.madsparrow.me/emilynolan/wp-comments-post.php" method="post" id="commentform"
                                    class="ms-comments" novalidate>
                                    <p class="comment-notes"><span id="email-notes">Your email address will not be published.</span>
                                        Required fields are marked <span class="required">*</span></p>
                                    <div class="form-group col-md-12"><textarea id="ms-comment" class="form-control col-md-12" name="comment" rows="4" required="required"
                                            placeholder="Comment *"></textarea></div>
                                    <div class="form-group col-md-4"><input id="ms-author" name="author" type="text" class="form-control" value="" required="required"
                                            placeholder="Name *" /></div>
                                    <div class="form-group col-md-4"><input id="ms-email" name="email" class="form-control"
                                            type="text" value="" required="required" placeholder="Email *" /></div>
                                    <div class="form-group col-md-4"><input id="ms-url" name="url" class="form-control" type="text"
                                            value="" placeholder="Website" /></div>
                                    <p class="form-submit"><button type="submit" id="submit" class="ms-button ms-button"
                                            data-title="Post Comment"><span>Post Comment</span></button> <input type='hidden'
                                            name='comment_post_ID' value='312' id='comment_post_ID' />
                                        <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                                    </p>
                                </form>
                            </div><!-- #respond -->


                        </div>
                    </div>
                    <div class="ms-right-sidebar col-lg-3 col-xs-12">
                        <aside id="search-2" class="widget_search">
                            <form role="search" method="get" id="searchform" class="searchform"
                                action="https://theme.madsparrow.me/emilynolan/">
                                <div class="ms-search-widget col-md-12">
                                    <input type="search" placeholder="Search..." value="" name="s" id="s" class="search-field" />
                                    <input type="submit" id="searchsubmit" class="search-submit" value="Search" />
                                </div>
                            </form>
                        </aside>
                        <aside id="recent-posts-3" class="widget_recent_entries">
                            <div class="col-md-12">
                                <h5>Recent Posts</h5>
                            </div>
                            <ul>
                                <li>
                                    <a href="https://theme.madsparrow.me/emilynolan/cinematic-new-york/">Cinematic New York</a>
                                    <span class="post-date">April 12, 2018</span>
                                </li>
                                <li>
                                    <a href="https://theme.madsparrow.me/emilynolan/tokyo-desu/">Tōkyō desu</a>
                                    <span class="post-date">April 11, 2018</span>
                                </li>
                                <li>
                                    <a href="https://theme.madsparrow.me/emilynolan/under-armour-bryce-harper/">Under Armour
                                        | Bryce Harper</a>
                                    <span class="post-date">April 10, 2018</span>
                                </li>
                                <li>
                                    <a href="https://theme.madsparrow.me/emilynolan/soldiers-of-somalia/">Soldiers of Somalia</a>
                                    <span class="post-date">April 9, 2018</span>
                                </li>
                                <li>
                                    <a href="https://theme.madsparrow.me/emilynolan/together-and-without/">Together and Without</a>
                                    <span class="post-date">April 8, 2018</span>
                                </li>
                            </ul>
                        </aside>
                        <aside id="archives-2" class="widget_archive">
                            <div class="col-md-12">
                                <h5>Archives</h5>
                            </div>
                            <ul>
                                <li><a href='https://theme.madsparrow.me/emilynolan/2018/04/'>April 2018</a></li>
                            </ul>
                        </aside>
                        <aside id="categories-2" class="widget_categories">
                            <div class="col-md-12">
                                <h5>Categories</h5>
                            </div>
                            <ul>
                                <li class="cat-item cat-item-27"><a href="https://theme.madsparrow.me/emilynolan/category/history/">History</a>
                                </li>
                                <li class="cat-item cat-item-29"><a href="https://theme.madsparrow.me/emilynolan/category/inspiration/">Inspiration</a>
                                </li>
                                <li class="cat-item cat-item-32"><a href="https://theme.madsparrow.me/emilynolan/category/lifestyle/">Lifestyle</a>
                                </li>
                                <li class="cat-item cat-item-55"><a href="https://theme.madsparrow.me/emilynolan/category/travel/">Travel</a>
                                </li>
                            </ul>
                        </aside>
                        <aside id="tag_cloud-1" class="widget_tag_cloud">
                            <div class="col-md-12">
                                <h5>Tags</h5>
                            </div>
                            <div class="tagcloud"><a href="https://theme.madsparrow.me/emilynolan/tag/alone/" class="tag-cloud-link tag-link-74 tag-link-position-1"
                                    style="font-size: 16.4pt;" aria-label="alone (2 items)">alone</a>
                                <a href="https://theme.madsparrow.me/emilynolan/tag/history/" class="tag-cloud-link tag-link-111 tag-link-position-2" style="font-size: 8pt;"
                                    aria-label="history (1 item)">history</a>
                                <a href="https://theme.madsparrow.me/emilynolan/tag/home/" class="tag-cloud-link tag-link-112 tag-link-position-3" style="font-size: 8pt;"
                                    aria-label="home (1 item)">home</a>
                                <a href="https://theme.madsparrow.me/emilynolan/tag/inspiration/" class="tag-cloud-link tag-link-117 tag-link-position-4"
                                    style="font-size: 8pt;" aria-label="inspiration (1 item)">inspiration</a>
                                <a href="https://theme.madsparrow.me/emilynolan/tag/life/" class="tag-cloud-link tag-link-122 tag-link-position-5" style="font-size: 8pt;"
                                    aria-label="life (1 item)">life</a>
                                <a href="https://theme.madsparrow.me/emilynolan/tag/observation/" class="tag-cloud-link tag-link-137 tag-link-position-6"
                                    style="font-size: 8pt;" aria-label="observation (1 item)">observation</a>
                                <a href="https://theme.madsparrow.me/emilynolan/tag/people/" class="tag-cloud-link tag-link-142 tag-link-position-7" style="font-size: 8pt;"
                                    aria-label="people (1 item)">people</a>
                                <a href="https://theme.madsparrow.me/emilynolan/tag/power/" class="tag-cloud-link tag-link-149 tag-link-position-8" style="font-size: 8pt;"
                                    aria-label="power (1 item)">power</a>
                                <a href="https://theme.madsparrow.me/emilynolan/tag/reasoning/" class="tag-cloud-link tag-link-160 tag-link-position-9" style="font-size: 8pt;"
                                    aria-label="reasoning (1 item)">reasoning</a>
                                <a href="https://theme.madsparrow.me/emilynolan/tag/sings/" class="tag-cloud-link tag-link-164 tag-link-position-10" style="font-size: 8pt;"
                                    aria-label="sings (1 item)">sings</a>
                                <a href="https://theme.madsparrow.me/emilynolan/tag/sport/" class="tag-cloud-link tag-link-165 tag-link-position-11" style="font-size: 8pt;"
                                    aria-label="sport (1 item)">sport</a>
                                <a href="https://theme.madsparrow.me/emilynolan/tag/thoughts/" class="tag-cloud-link tag-link-185 tag-link-position-12" style="font-size: 8pt;"
                                    aria-label="thoughts (1 item)">thoughts</a>
                                <a href="https://theme.madsparrow.me/emilynolan/tag/urban/" class="tag-cloud-link tag-link-193 tag-link-position-13" style="font-size: 8pt;"
                                    aria-label="urban (1 item)">urban</a>
                                <a href="https://theme.madsparrow.me/emilynolan/tag/walk/" class="tag-cloud-link tag-link-196 tag-link-position-14" style="font-size: 22pt;"
                                    aria-label="walk (3 items)">walk</a></div>
                        </aside>
                    </div>
                </div>
            </div>
        </main>
        </div>
        <!-- Footer -->
        <footer class="ms-footer">
            <div class="ms-footer__inner">
                <div class="copyright">Copyright &copy; 2018. Developed by MadSparrow</div>
                <ul class="socials">
                    <li><a class="socicon-twitter" title="Twitter" target="_blank" href="https://twitter.com/"></a></li>
                    <li><a class="socicon-dribbble" title="Dribbble" target="_blank" href="https://dribbble.com/"></a></li>
                    <li><a class="socicon-facebook" title="Facebook" target="_blank" href="https://www.facebook.com/"></a></li>
                    <li><a class="socicon-instagram" title="Instagram" target="_blank" href="https://www.instagram.com/"></a></li>
                    <li><a class="behance" title="Behance" target="_blank" href="https://www.behance.net/"></a></li>
                </ul>
            </div>
        </footer>

        <%- include('../includes/footer')%>
            </body>

</html>